@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
  box-sizing: border-box; 
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
}
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  
}

.outer-col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
}
.inner-row {
  display: flex;
  flex-direction: row;
}
.inner-col {
  flex: 4;
}
.inner-row article {
  padding-top: 15vh;
  padding-left: 10vw;
  padding-right: 10vw;
  min-height: 100vh;

}
.inner-row aside {
  background: beige;
  flex: 1;
}
header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(145, 181, 0, 0.80);
  height: 10vh;
  width: 100vw;
  box-shadow: rgba(82, 63, 105, 0.08) 0px 10px 30px 0px;
  z-index: 1;
}

footer {  
  display: flex;
  align-items: center;
  justify-content: center;
  background: #91B500;
  height: 10vh;
  width: 100vw;
}
header, footer, article, nav, aside {
  
  padding: 1em;
}

.recipe-flex {
  background-color: #F7FAFF;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.recipe-image {
  width: 100%;
}

.recipe-item {
  background-color: white;
  width: 33%;
  height: 50%;
  min-height: 300px;
  margin-bottom: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  text-align: center;

}

.recipe-item:hover {
  transition-duration: 1s;
  opacity: 0.83;
  box-shadow: 0 5px 10px rgba(154,160,185,.2), 0 15px 40px rgba(166,173,201,.3);
}

.recipe-item img {
  width: 100%;
  border-radius: 8px 8px 0 0;;
}

.recipe-desc {
  padding: 24px;
}
.header--title {
  padding-left: 12px;
}

h1 {
  word-wrap: break-word;
  max-width: 200px;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25ch;
}

.search-bar {
  border: 0;
  width: 35vw;
  height: 100%;
  padding: 10px 20px;
  background: white;
  border-radius: 3px;
  margin-right: 8px;
 
 }

 
 .search-button{
  border: 0;
  padding: 10px 20px;
  background-color: rgb(220, 250, 230);
  color: green;
  border-radius: 4px;
  cursor: pointer;
 }

 .search-button:hover{
  transition-duration: 1s;
  background-color:rgb(129, 233, 151);
 }



 .header--profile{
   padding-right: 5%;
   display: flex;
   align-items: center;
 }

 .avatar {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  object-fit: cover;
 
 }